%header
  %h1 ACQUIRE ONLINE

  %nav
    %ul
      %li{class: 'active'}
        = link_to 'Home', root_path
      %li= link_to 'About', page_path('about')
      %li= link_to 'Rules', page_path('rules')
      - if user_signed_in?
        %li= link_to 'Game Center', game_center_path
