.container
  .starter-template
    %h1 The Rules of Acquire Online
    %h3 Object of The Game

    %p.lead The main object of Acquire is to become the wealthiest player by the end of the game. This is done by forming hotel chains and obtaining free blocks of stock, shrewdly buying the right stock at the right time, merging chains to obtain capital, and adding hotels to the chains in which you have controlling interest to increase their value.

    %p.lead Number of players: 2 to 6.

    %h3 How To Play

    %p.lead Each player does the following three things in order:
    %ol.lead
      %li Play a tile onto the gameboard by clicking on its space on the gameboard.

      %li Buy stocks of any active corporations. There is a limit of three total per turn.

      %li Draw a new tile (done automatically at completion of step 2).

    %h3 1. Playing a Tile

    %p.lead Depending on where a tile is played, it may form a corporation or it may merge two or more corporations. (Of course, a tile may also be played, which does nothing.)

    %p.lead 
      %b Founding a corporation: 
      When a player places a tile next to an unincorporated tile already on the gameboard (orthogonally, not diagonally), a corporation is founded. The player selects the name of the corporation to be founded, then receives a free founder's bonus stock for that corporation.

    %p.lead Note: If a player is already holding all the corporation's stock cards, then no founder's bonus stock is given out.

    %p.lead Any tile that would form an eighth corporation cannot be played. (There are only seven corporations in the game). However, such a tile might be played later in the game if a merger makes a corporate building marker available again.

    %p.lead 
      %b Merging Corporations: 
      When a player places a tile so that it connects two (or more) corporations, a merger takes place. The larger corporation (the one with more tiles) survives, and the smaller corporation becomes defunct. During the merger, the merging tile does not add to the size of either corporation for any purpose. If the corporations are the same size, then the person making the merger decides which corporation survives. The surviving corporation absorbs the defunct one.

    %p.lead 
      %em Note: If more than two corporations are merged by one tile, see Multiple Mergers below for details.

    %p.lead 
      %b Safe corporations: 
      A corporation that contains 11 or more tiles is considered "safe" and cannot be absorbed by another corporation for the rest of the game. A safe corporation can absorb a smaller corporation, but two safe corporations cannot merge. Any tile that would merge two safe corporations is permanently unplayable. These tiles will be noted as such on the gameboard.

    %p.lead 
      %b Majority and minority stockholders' bonuses: 
      At the time of a merger, all owners' stock in the smaller company is compared. The players with the most and second-most stocks are declared majority and minority stockholders. They will be paid the majority and minority stockholders' bonuses as described below.

    %p.lead If only one player owns stock in the defunct corporation, that player gets both bonuses. If there is a tie for majority stockholder, the game will add the majority and minority bonuses together, divide evenly, and round up to the next payable dollar amount if necessary. (The minority shareholder gets no bonus.) If there is a tie for minority stockholder, the game will split the minority bonus among the tied players. Bonuses will be rounded up to the nearest $100 if necessary.

    %p.lead To determine the bonus amount, find the defunct symbol along the left of the display and hover your mouse over it. A pop-up display will tell you the current bonuses for that corporation. The bonus is based on the size of the corporation. The larger the corporation, the larger the bonus.
    
    %p.lead After bonuses have been paid out, each stockholder must decide what to do with the defunct stock. Each player, starting with the person making the merger and continuing clockwise, can hold, sell, and trade the defunct stock cards.

    %p.lead 
      %b Hold: 
      Stock may be held in expectation of starting another corporation with that name later.

    %p.lead 
      %b Sell: 
      Stock may be sold back to the stock market at a price determined by the number of tiles in the defunct corporation before the merger.

    %p.lead 
      %b Trade: 
      Stock may be traded. For every two defunct stock cards traded in, the player gets one stock in the surviving corporation. Of course, the supply of surviving stock cards is limited, so it is not possible to acquire stock that is not available.

    %p.lead 
      %em Note: Players are allowed to choose more than one of the above options. For example, a player could hold onto a few of the defunct stocks, sell some and trade some.

    %p.lead 
      %b Multiple Mergers: 
      It is possible that one tile could cause the merger of three or four corporations. The largest corporation survives and the smaller ones become defunct. The person making the merger breaks any ties. The smaller corporations are dealt with one at a time, from largest to smallest. Majority and minority stockholder bonuses are paid out as described previously, and then the defunct stock is held, sold, or traded. As usual, the person making the merger goes first.
    
    %h3 2. Buying Stocks

    %p.lead After placing a tile, the player may choose to buy stock in any active corporation (or not). A player may decide to buy no stock, or up to three stock cards on a turn. For example, a player can buy one stock card in three different active corporations, or one corporation and two in another, or three stock cards in one corporation.

    %p.lead 
      %b Price per share: 
      This is determined by name and size of the corporation. The corporations are arranged across the left of the screen, from top to bottom, in order of most expensive to least.

    %p.lead 
      %b Running out of money: 
      Aggressively competing to become the majority stockholder in a corporation can be risky. Invest wisely in corporations that are small and are close to bigger ones. A player who runs out of money cannot buy stock. A player with no money still places a tile on each of his/her turns, if possible, but must wait for a corporation in which he/she owns stock to go defunct to get money. Remember, a player can sell a corporation's stock only after the corporation has gone defunct, and at the end of the game. No loans are allowed from other players or the stock market bank.

    %h3 3. Drawing a tile

    %p.lead After you have purchased stock, the computer automatically replaces the tile that you placed at the beginning of your turn. 

    %h3 Ending The Game

    %p.lead The game ends when the current player chooses to end the game and one of the following two conditions are met:   1) all active corporations are safe, or 2) one corporation has 41 or more tiles on the gameboard.  After choosing to end the game, the ending player can complete his/her turn.

