%div#response1
%div#newchain
.board
  %table{:border => "1"}
    - [1,2,3,4,5,6,7,8,9,10,11,12].each do |num|
      %tr
        - ['A','B','C','D','E','F', 'G','H','I'].each do |letter|
          - cell_name = (num.to_s + letter)
          %td{id: cell_name}
            = link_to cell_name, { action: 'place_piece', num:num, letter:letter, cell:cell_name}, class: 'change_cell', remote: true, style: "text-decoration:none;"
