= game.is_current_players_turn?(current_user.username)
.board
  %table{:border => "1"}
    %tr
      %td 1A
      %td 2A
      %td 3A
      %td 4A
      %td 5A
      %td 6A
      %td 7A
      %td 8A
      %td 9A
      %td 10A
      %td 11A
      %td 12A
    %tr
      %td
        %a.cell{ href: '#', data: { id: '1B'} } 1B
      %td 2B
      %td 3B
      %td 4B
      %td 5B
      %td 6B
      %td 7B
      %td 8B
      %td 9B
      %td 10B
      %td 11B
      %td 12B
    %tr
      %td 1C
      %td 2C
      %td 3C
      %td 4C
      %td 5C
      %td 6C
      %td 7C
      %td 8C
      %td 9C
      %td 10C
      %td 11C
      %td 12C
    %tr
      %td 1D
      %td 2D
      %td 3D
      %td 4D
      %td 5D
      %td 6D
      %td 7D
      %td 8D
      %td 9D
      %td 10D
      %td 11D
      %td 12D
    %tr
      %td 1E
      %td 2E
      %td 3E
      %td 4E
      %td 5E
      %td 6E
      %td 7E
      %td 8E
      %td 9E
      %td 10E
      %td 11E
      %td 12E
    %tr
      %td 1F
      %td 2F
      %td 3F
      %td 4F
      %td 5F
      %td 6F
      %td 7F
      %td 8F
      %td 9F
      %td 10F
      %td 11F
      %td 12F
    %tr
      %td 1G
      %td 2G
      %td 3G
      %td 4G
      %td 5G
      %td 6G
      %td 7G
      %td 8G
      %td 9G
      %td 10G
      %td 11G
      %td 12G
    %tr
      %td 1H
      %td 2H
      %td 3H
      %td 4H
      %td 5H
      %td 6H
      %td 7H
      %td 8H
      %td 9H
      %td 10H
      %td 11H
      %td 12H
    %tr
      %td 1I
      %td 2I
      %td 3I
      %td 4I
      %td 5I
      %td 6'
      %td 7I
      %td 8I
      %td 9I
      %td 10I
      %td 11I
      %td 12I
