%h2= @game.name
%ul Players in Game:
- if !@game.users.empty?
  -@game.users.each do |player|
    %li= player.username

%ul Who's Turn?
%li= @game.up_next

%ul Your Hand:

%ul Your Stocks:

= render partial: 'game_board'

