<%= javascript_include_tag 'handlebars-1.1.2', 'ember-1.3.0', 'ember-app' %>

<script type="text/javascript">
window.payload = <%= @payload.to_json.html_safe %>;
// setTimeout(function () {
//   current_user = <%= current_user.username.to_json.html_safe %>
//   if(current_user != payload.game.up_next || current_user != payload.game.merger_up_next) {
//     location.reload();
//   }
// }, 5000);
</script>

<script type="text/x-handlebars">
<div class="col-mid-12 text-center">
  <div class="row">
    <div class="col-md-6">
      <h1>{{game.name}}</h1>
    </div>
    <div class="col-md-6">
      <h4 class="text-red"> {{game.up_next}} is up!</h3>
    </div>
  </div>

  <div class="col-md-6">
    {{game-board player=player game=game model=model available_hotels=available_hotels board_colors=board_colors founded_hotels=founded_hotels hotels_w_enough_stock_cards = hotels_w_enough_stock_cards}}

    <h3 class="text-white">Tiles:</h3>
    <table class="table lg">
      <tr class="text-center">
        {{#each tile in tiles}}
          <td class="text-center"><div class="border-box text-center">{{tile.to_english}}</div></td>
        {{/each}}
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-bordered text-center lg" border="1">
      <tr>
        <th class="text-center"> Player </th>
        <th class="text-center"> $ </th>
        <th class="text-center"> A </th>
        <th class="text-center"> T </th>
        <th class="text-center"> C </th>
        <th class="text-center"> F </th>
        <th class="text-center"> I </th>
        <th class="text-center"> W </th>
        <th class="text-center"> S </th>
      </tr>
      {{#each player in players}}
        <tr>
          <td> {{player.username}} </td>
          <td> {{player.cash_to_english}} </td>
          <td> {{player.get_stocks_american}} </td>
          <td> {{player.get_stocks_tower}} </td>
          <td> {{player.get_stocks_continental}} </td>
          <td> {{player.get_stocks_festival}} </td>
          <td> {{player.get_stocks_imperial}} </td>
          <td> {{player.get_stocks_worldwide}} </td>
          <td> {{player.get_stocks_sackson}} </td>
        </tr>
      {{/each}}
    </table>

    <div class="col-md-6">
      <h3 class="text-white"> Game Log</h3>
      {{#if log_entries}}
        <div class="log-box" id="log">
          <table class="table table-striped lg">
            {{#each log in log_entries}}
              <tr>
                <td> > {{log.message}}</td>
              </tr>
            {{/each}}
          </table>
        </div>
      {{else}}
        <h4>No moves yet!</h4>
      {{/if}}
    </div>

    <div class="col-md-6">
      <h3 class="text-white"> Hotel Chains</h3>
      <table class="table table-bordered lg" border="1">
        <tr>
          <th class="text-center">Hotel</td>
          <th class="text-center">Color</td>
          <th class="text-center">Size</td>
          <th class="text-center">Price</td>
        </tr>
        {{#each game_hotel in game_hotels}}
          <tr>
            <td>{{game_hotel.name}}</td>
            <td {{bindAttr class=game_hotel.get_color}}></td>
            <td>{{game_hotel.chain_size}}</td>
            <td>{{game_hotel.share_price}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>
</script>

<script type="text/x-handlebars" id="components/game-board">
<div class="board">
  <table class="table table-bordered lg" border="1">
    {{#each column in columns}}
      <tr>
      {{#each row in rows}}
        <td>
        {{#view App.GameBoardSquareView row=row column=column board_colors=board_colors}}
          {{row}}{{column}}
        {{/view}}
        </td>
      {{/each}}
      </tr>
    {{/each}}
  </table>
</div>
<div>
  {{#if errored}}
    <div class="overlay"></div>
    <div class="box text-center">
      <h2>Which Hotel chain would you like to found?</h1>
      <p class="text-center">
      {{view Ember.Select
      content=available_hotels
      optionValuePath="content.name"
      optionLabelPath="content.name"
      value=selectedHotel.name}}
      </p>
      <button {{action "resolveIssue"}} class="btn btn-large btn-success">Done</button>
    </div>
  {{/if}}
  {{#if buybutton}}
    <div>
      <button {{action "openStockOptions"}} class="btn btn-large btn-success">Buy Stocks</button>
    </div>
  {{/if}}
  {{#if open}}
    <div class="overlay"></div>
    <div class="box text-center">
      <h1>What stock would you like to buy?</h1> 
      <p class="text-center">
        {{view Ember.Select
         content=hotels_w_enough_stock_cards
         optionValuePath="content.name"
         optionLabelPath="content.name"
         value=selectedHotelStock1.name}} 
         {{view Ember.Select
         content=hotels_w_enough_stock_cards
         optionValuePath="content.name"
         optionLabelPath="content.name"
         value=selectedHotelStock2.name}} 
         {{view Ember.Select
         content=hotels_w_enough_stock_cards
         optionValuePath="content.name"
         optionLabelPath="content.name"
         value=selectedHotelStock3.name}}   
      </p>
      <button {{action "closeStockOptions"}} class="btn btn-large btn-success">Done</button>
    </div>
  {{/if}}
  {{#if merger_hold_sell_button}}
    <button {{action "openMergerOptions"}} class="btn btn-large btn-success" >Hold, Sell, Or Trade?</button>
  {{/if}}
  {{#if open_merger}}
    <div class="overlay"></div>
    <div class="box-big text-center">
      {{#ifShares game.has_shares}}
        <h1 class="flush--top">You have {{game.has_shares}} shares to hold, sell or trade. </h1>  
        <h4> Hold {{input type="text" placeholder="number" value=holdNumber type="number"}} shares</h4>
        <h4> Sell {{input type="text" placeholder="number" value=sellNumber type="number"}} shares</h4>
        {{#ifEnough game}}
          <h4> Trade 2 for 1 {{input type="text" placeholder="number" value=tradeNumber type="number"}} shares </h4>
        {{else}}
          <h4> There are no hotel shares you can trade for</h4>
        {{/ifEnough}}
        {{alert}}
        <button {{action "closeMergerOptions" true}} class="btn btn-large btn-success">Done</button>
      {{else}}
        <h1 class="flush--top">You have no shares to hold, sell or trade</h1> 
        <button {{action "closeMergerOptions" false}} class="btn btn-large btn-success">Done</button>
      {{/ifShares}}
    </div>
  {{/if}}
  {{#if game_over}}
    <div class="overlay"></div>
    <div class="box-big text-center">
      <h2> Game Over </h4>
      <p> The winner is {{winner}} </p>
    </div>
  {{/if}}
</div>
</script>
