<%= javascript_include_tag 'handlebars-1.1.2', 'ember-1.3.0', 'ember-app' %>

<script type="text/javascript">
window.payload = <%= @payload.to_json.html_safe %>;
</script>

<script type="text/x-handlebars">
<h2>{{game.name}}</h2>

<ul>
  {{#each player in users}}
    <li>{{player.username}}</li>
  {{/each}}
</ul>
<h3> Whose Turn? </h3>
{{game.up_next}}
<h2> Your Hand: </h2>
<ul>
  {{#each tile in tiles}}
    <li>{{tile.to_english}}</li>
  {{/each}}
</ul>
<h3> Your Stocks: </h3>
<ul>
  {{#each stock in stocks}}
    <li>{{stock.name}} {{stock.amount}}</li>
  {{else}}
    No stocks
  {{/each}}
</ul>
<h3>Cash:</h3>
{{player.cash_to_english}}

{{game-board model=model available_hotels=available_hotels}}

<div>
  <table border="1">
    <tr>Stock Chart</tr>
    <tr>
      <td>Hotel Name</td>
      <td>Chain Size</td>
      <td>Share Price</td>
    </tr>
    {{#each game_hotel in game_hotels}}
      <tr>
        <td>{{game_hotel.name}}</td>
        <td>{{game_hotel.chain_size}}</td>
        <td>{{game_hotel.share_price}}</td>
      </tr>
    {{/each}}
  </table>
</div>

</script>

<script type="text/x-handlebars" id="components/game-board">
<div class="board">
  <table border="1">
    {{#each column in columns}}
      <tr>
      {{#each row in rows}}
        {{#view App.GameBoardSquareView row=row column=column}}
          {{row}}{{column}}
        {{/view}}
      {{/each}}
      </tr>
    {{/each}}
  </table>
</div>
{{#if errored}}
  <div class="overlay" >
    <div class="modal" >
      <h1 class="flush--top">Which Hotel chain would you like to found?</h1>
      {{view Ember.Select
       content=available_hotels
       optionValuePath="content.name"
       optionLabelPath="content.name"
       value=selectedHotel.name}}
      <button {{action "resolveIssue"}}>Done</button>
    </div>
  </div>
{{/if}}
</script>
