/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./application
 */

@import "bootstrap"

.html 
  background-size: cover

.body
  background-color: #E8E8E8
  opacity: 0.8

.inline
  display: inline

.jumbotron
  padding: 14px 24px
  .btn 
    padding: 0.5em

.table
  background-color: white
  border-radius: 5px

.block
  background: #CCC
  filter: alpha(opacity=60)
  -moz-opacity: 0.6
  opacity: 0.6
  width: 100%
  height: 100%

.navbar
  background-color: gray
  .nav > li > a 
    color: #ddd

.is-hover
  background-color: #8888FF
  cursor: pointer

.grey
  background-color: gray

.blue
  background-color: blue

.yellow
  background-color: yellow

.red
  background-color: red

.green
  background-color: green

.orange
  background-color: orange

.purple
  background-color: purple

.pink
  background-color: pink

.lg
  background-color: white

.text-white
  color: black

.text-red
  color: red

.font-white
  color: white

.log-box 
  height: 300px !important
  overflow: scroll
  border-radius: 5px

.scroll-box-green
  height: 250px !important
  overflow: scroll
  background-color: #F0F0F0
  border-radius: 5px
  color: green

.scroll-box-blue
  height: 250px !important
  overflow: scroll
  background-color: #F0F0F0
  border-radius: 5px
  color: blue

.scroll-box
  height: 250px !important
  overflow: scroll
  background-color: white
  border-radius: 5px

.top-buffer
  margin-top: 20px

.box 
  width: 400px
  height: 200px
  line-height: 100%
  position: fixed
  top: 50% 
  left: 50%
  margin-top: -100px
  margin-left: -150px
  background-color: white
  border-radius: 5px
  text-align: center
  z-index: 11

.overlay 
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10
  background-color: rgba(0,0,0,0.5)


.flush--top
  margin-top: 0
