body > header
  clear: both
  text-align: center
  color: #faf4ed
  background: #b22222
  border-bottom: 2px solid #ebb954
  nav
    border-bottom: 2px solid #ebb954
    margin-bottom: -2px
    position:absolute
    top: 100px
    left: 0
    right: 0
    bottom: 0
    background-color: #b22222
    color: green
    min-width: 800px
    text-align: left
    height: 20px
    padding: 10px 20px
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        margin: 0
        float: center
        display: inline
        a
          font-size: 14px
          margin: 10px 0
          height: 20px
          padding: 12px 10px
          color: #000
          text-decoration: none
        a:hover
          background-color: #333